<html>

<body>
  <h2>Hello 👋,</h2>
  <p>You have been chosen to be a Nexura Guardian.</p>
  <br>

  <p>This is your access code - {{code}}.</p>
  <p>Click the link to complete your account creation process and create your password.</p>
  <br>
  <p><a href={{url}}>Click me, duhh.</a></p>

  <br>
  <h3><strong>Best regards, Nexura.</strong></h3>
</body>

</html>